-- the NodeMCU MQTT client seems to want a client ID. It's probably best to generate a GUID
-- to avoid conflicting IDs on the same broker (Adafruit IO will boot an existing client if
-- a new one shows up with the same client ID).
cid="MQTT client ID"
uid="MQTT username"
pwd="MQTT password"
topic="MQTT topic"
